*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f5f5f5;
color:#333;
line-height:1.6;
}

header{
background:#1f1f1f;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
flex-wrap:wrap;
}

.logo h1{
color:#ff9800;
font-size:32px;
}

.logo p{
font-size:15px;
margin-top:5px;
}

nav{
display:flex;
gap:15px;
flex-wrap:wrap;
}

nav a{
text-decoration:none;
color:white;
padding:10px 18px;
border-radius:8px;
transition:.3s;
}

nav a:hover{
background:#ff9800;
}

.hero{
background:#222;
color:white;
text-align:center;
padding:80px 20px;
}

.hero h2{
font-size:40px;
margin-bottom:20px;
color:#ff9800;
}

.hero p{
max-width:700px;
margin:auto;
font-size:18px;
}

.buttons{
margin-top:30px;
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
}

.buttons a{
background:#ff9800;
color:white;
padding:12px 25px;
border-radius:8px;
text-decoration:none;
font-weight:bold;
}

.services{
padding:60px 20px;
text-align:center;
}

.services h2{
margin-bottom:30px;
color:#ff9800;
}

.card{
background:white;
padding:25px;
margin:15px auto;
max-width:350px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
}

footer{
background:#1f1f1f;
color:white;
text-align:center;
padding:30px;
margin-top:40px;
}
.about{
padding:60px 20px;
background:white;
text-align:center;
}

.about h2{
color:#ff9800;
margin-bottom:20px;
}

.about p{
max-width:800px;
margin:auto;
font-size:18px;
line-height:1.8;
}
.features{
padding:60px 20px;
background:#f5f5f5;
text-align:center;
}

.features h2{
color:#ff9800;
margin-bottom:30px;
}